<!-- <div *ngFor="let school of schools " class="cuon" id="test_1">
<div class="col-md-4">
  <img [src]="school.logo" class="card-img py-3" [alt]="school.logo" >
</div>
<div class="col-md-8">
  <div class="card-body">
    <h4 class="card-title">{{school.name}}</h4>
    <h5 class="card-text">Địa chỉ: <span class="font-weight-normal">{{school.address}}</span></h5>
    <h5 class="card-text">Tên hiệu trưởng: <span class="font-weight-normal">{{school.province}}</span></h5>
    <h5 class="card-text">Tỉnh/thành phố: <span class="font-weight-normal">{{school.president}}</span></h5>
  </div>
</div>
</div> -->