 <div class="row">
      <div class="col-8 offset-2 border">
        <div class="row">
         <div class="col-6 offset-3">
            <table [formGroup]="hotelForm">
             <tr>
               <td>Tên trường:</td>
               <td><input type="text" formControlName="name" class="form-control"></td>
             </tr>
             <tr>
               <td>Logo trường:</td>
               <td><input type="text" formControlName="logo" class="form-control"></td>
             </tr>
             <tr>
               <td>Địa chỉ:</td>
               <td><input type="text" formControlName="address" class="form-control"></td>
             </tr>
             <tr>
               <td>Tên hiệu trưởng:</td>
               <td><input type="text" formControlName="president" class="form-control"></td>
             </tr>
             <tr>
               <td>Tỉnh/thành phố:</td>
               <td><input type="text" formControlName="province" class="form-control"></td>
             </tr>
           </table>
          </div>
        </div>
      </div>
</div>
  <br>
  <div class="text-center">
    <button (click)="saveHotel()" class="btn btn-sm btn-success">Lưu</button>
    &nbsp;
    <button (click)="cancel()" class="btn btn-sm btn-success">Làm mới</button>
  </div>
  <br>
  