<body>
  <div class="header">
    <img width="500"  src="https://1.bp.blogspot.com/-mi3ahxFXtNU/WlEZz96UQFI/AAAAAAAANAY/Vb8nqRrIqPIZyUSx4yETGQ2YJfFYR5cmwCLcBGAs/s1600/CE3Uoic.jpg"/> 
    <input class="timkiem" type="text"  placeholder=" Tìm kiếm..."/>&nbsp;<button class="bttk">Tìm kiếm</button>
  </div>
  <div class="menu">
    <ul>
        <li class="trangchu"><a href="Trangchu">Trang chủ</a></li>
        <li><a href="#">Thông tin</a></li>
        <li><a href="#">Gợi ý </a></li>
        <li><a href="#">Liên hệ</a></li>
       </ul>
  </div>

  <br>
  <div class="slg">
        <h2>{{title}}</h2>
  </div>

<div class="content">
  <a></a>
</div>

<br>
  <div class="footer">
    <div class="diachi">
        <p> <strong>Seacher</strong></p>
    </div> 
  </div>  
</body>

  