<body>
  <div class="header">
    <img width="500"  src="https://1.bp.blogspot.com/-mi3ahxFXtNU/WlEZz96UQFI/AAAAAAAANAY/Vb8nqRrIqPIZyUSx4yETGQ2YJfFYR5cmwCLcBGAs/s1600/CE3Uoic.jpg"/> 
    <input class="timkiem" type="text"  placeholder=" Tìm kiếm..."/>&nbsp;<button class="bttk">Tìm kiếm</button>
  </div>
  <div class="menu">
    <ul>
        <li class="trangchu"><a routerLink="/">Trang chủ</a></li>
        <li><a href="#">Thông tin</a></li>
        <li><a href="#">Gợi ý </a></li>
        <li><a href="#">Liên hệ</a></li>
       </ul>
  </div>

  <br>
  <div class="slg">
        <h2>{{title}}</h2>
  </div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 border">
        <div class="row">
         <div class="col-6 offset-3">
            <table>
             <tr>
               <td>Tên trường</td>
               <td><input type="text" [value]="data.name" (keyup)="data.name = $event.target.value" class="form-control"></td>
             </tr>
             <tr>
               <td>Logo trường</td>
               <td><input type="text" [value]="data.room_number" (keyup)="data.room_number = $event.target.value" class="form-control"></td>
             </tr>
             <tr>
               <td>Địa chỉ</td>
               <td><input type="text" [value]="data.schoolId" (keyup)="data.schoolId = $event.target.value" class="form-control"></td>
             </tr>
             <tr>
               <td>Tên hiệu trưởng</td>
               <td><input type="text" [value]="data.main_teacher" (keyup)="data.main_teacher = $event.target.value" class="form-control"></td>
             </tr>
             <tr>
               <td>Tỉnh/thành phố</td>
               <td><input type="text" [value]="data.main_teacher" (keyup)="data.main_teacher = $event.target.value" class="form-control"></td>
             </tr>
           </table>
          </div>
        </div>
      </div>
  </div> 
</div>
</div>
  <br>
  <div class="text-center">
    <button (click)="themtt()" class="btn btn-sm btn-success">Thêm</button>
    &nbsp;
    <button (click)="themtt()" class="btn btn-sm btn-success">Sửa</button>
    &nbsp;
    <button (click)="cancel()" class="btn btn-sm btn-success">Làm mới</button>
  </div>
  <br>
  <router-outlet></router-outlet>  
  <br>
<br>
  <div class="footer">
    <div class="diachi">
        <p> <strong>Seacher</strong></p>
    </div> 
  </div>
</body>

  