<table border="1" align="center">
  <tr>
    <th width="200">Mã trường học</th>
    <th width="200">Chuyên ngành</th>
    <th width="200">Tên lớp</th>
    <th width="200">Giáo viên chủ nhiệm</th>
    <th width="200">Số lượng học sinh</th>
  </tr>
  <tr>
    <td>{{classData.schoolId}}</td>
    <td>{{classData.name}}</td>
    <td>{{classData.room_number}}</td>
    <td>{{classData.main_teacher}}</td>
    <td>{{classData.total_student}}</td>
  </tr>
</table>
<br>
<div class="slg">
  <h2>{{title}}</h2>
</div>
<br>