<input id="myInput" class="timkiem" type="text"  placeholder=" Tìm kiếm..."/>&nbsp;
<button (click)="myFunction()" class="bttk">Tìm kiếm</button> &nbsp;
<button routerLink="add" class="bttk">Thêm</button>
<br><br>
<div class="cuon" id="test_1">
  <table border="1" align="center" id="myTable">
    <tr>
      <th width="500">Danh sách trường học</th>
      <th width="300">Action</th>
    </tr>
    <tr *ngFor="let school of schools ">
      <td>{{school.name}}</td>
      <td>&nbsp;
        <input [routerLink]="['school', school.id]"  class="btn btn-sm btn-success" type="button" value="Show"/>&nbsp;
        <input data-toggle="modal" data-target="#exampleModal" (click)="editSchool(school);"  class="btn btn-sm btn-info" type="button" value="Edit"/>&nbsp;
        <input (click)="removeSchools(school)"  class="btn btn-sm btn-danger" type="button" value="Delete"/>
      </td>
    </tr>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header border-bottom" style="border-bottom-width: 0px;">
				<h5 class="modal-title" id="exampleModalLabel">Thông tin chi tiết</h5>
				<a type="button" class="close" id="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></a>
			</div>
			<div class="modal-body">
				<form [formGroup] = "schoolForm">
          <div class="form-group mt-2 d-flex justify-content-center">
            <img [src]="schoolForm.value.logo" alt="" class="my-1" style="width: 100px;">
          </div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="">Tên trường</label>
							<input type="text" class="form-control" formControlName="name">
            </div>
					  <div class="form-group col-md-6">
								<label for="">Ảnh</label>
								<input type="text" class="form-control" formControlName="logo">
            </div>
					</div>
					<div class="form-group mt-2">
								<label for="">Địa chỉ</label>
								<input type="text" class="form-control" formControlName="address">
          </div>
					<div class="form-row">
						<div class="form-group col-md-8">
							<label for="">Hiệu trưởng</label>
							<input type="text" class="form-control"formControlName="president">
            </div>
						<div class="form-group col-md-4">
							<label for="">Tỉnh/Thành</label>
							<input type="text" class="form-control" formControlName="province">
            </div>
				</div>
				</form>
			</div>
			<div class="modal-footer justify-content-center" style="border-top-width: 0px;">
				<button type="button" class="btn btn-primary" (click)="saveSchool();" data-dismiss="modal">Lưu</button>
			</div>
		</div>
	</div>
</div>