  <!-- <div class="imga">
    <img width="200" [src]="" class="img-fluid"/>
  </div> -->
   <div class="row">
      <div class="col-8 offset-2 border">
        <div class="row">
         <div class="col-6 offset-3">
            <table [formGroup]="schoolForm">
             <tr>
               <td>Tên trường:</td>
               <td><input type="text" formControlName="name" class="form-control"></td>
             </tr>
             <tr>
               <td>Logo trường:</td>
               <td><input type="text" formControlName="logo" class="form-control"></td>
             </tr>
             <tr>
               <td>Địa chỉ:</td>
               <td><input type="text" formControlName="address" class="form-control"></td>
             </tr>
             <tr>
               <td>Tên hiệu trưởng:</td>
               <td><input type="text" formControlName="president" class="form-control"></td>
             </tr>
             <tr>
               <td>Tỉnh/thành phố:</td>
               <td><input type="text" formControlName="province" class="form-control"></td>
             </tr>
           </table>
          </div>
        </div>
      </div>
</div>
<br>
  <div class="container">
    <button (click)="saveSchool()" class="btn btn-sm btn-success">Lưu</button>
  </div>
  <br>
    <div class="cuon" id="test_1">
      <table border="1" align="center">
        <tr>
          <th width="600">Danh sách trường học</th>
        </tr>
        <tr *ngFor="let school of schools ">
          <td><a [routerLink]="['school', school.id]">{{school.name}}</a></td>
         </tr>
      </table>
    </div>