
<table border="1" align="center">
        <tr>
          <th width="200">Tên trường học</th>
          <th width="200">Logo trường</th>
          <th width="200">Địa chỉ</th>
          <th width="200">Tên hiệu trưởng</th>
          <th width="200">Tỉnh/thành phố</th>
          <th width="120">Action</th>
        </tr>
        <tr>
          <td>{{schoolsData.name}}</td>
          <td><img width="150" src="{{schoolsData.logo}}"/></td>
          <td>{{schoolsData.address}}</td>
          <td>{{schoolsData.president}}</td>
          <td>{{schoolsData.province}}</td>
          <td>&nbsp;
            <input [routerLink]="['../../schoolscn', schoolsData.id]" class="btn btn-sm btn-danger" type="button" value="Edit"/>&nbsp;
            <input (click)="removeSchools()"  class="btn btn-sm btn-danger" type="button" value="Xóa"/>
          </td>
         </tr>
</table>
<br>
<div class="slg">
        <h2>{{title}}</h2>
  </div>
<br>
<app-class></app-class>
<br>
