<div class="container">
  <div class="row">
  <div class="col-12 d-flex justify-content-center mt-5">
      <div class="card mb-3 col-md-6">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="schoolData.logo" class="card-img py-3" [alt]="schoolData.logo" >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">{{schoolData.name}}</h4>
              <h5 class="card-text">Địa chỉ: <span class="font-weight-normal">{{schoolData.address}}</span></h5>
              <h5 class="card-text">Tên hiệu trưởng: <span class="font-weight-normal">{{schoolData.province}}</span></h5>
              <h5 class="card-text">Tỉnh/thành phố: <span class="font-weight-normal">{{schoolData.president}}</span></h5>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
<br>
<div class="cuon" id="test_1">
  <tr>
    <th width="600">Danh sách các lớp trong trường</th>
    <th width="200">Action</th>
  </tr>
  <tr *ngFor="let class of classs">
    <td>{{class.name}}</td>
    <td>&nbsp;
      <input [routerLink]="['class', class.id]"  class="btn btn-sm btn-success" type="button" value="Show"/>&nbsp;
      <input (click)="editStudent(class)" class="btn btn-sm btn-info" type="button" value="Edit"/>&nbsp;
      <input (click)="removeClass(class)"  class="btn btn-sm btn-danger" type="button" value="Delete"/>
    </td>
  </tr>
</div>

<div class="table2">
<div class="row">
  <table [formGroup]="schoolForm">
    <tr>
      <td>Chuyên ngành:</td>
      <td><input type="text" formControlName="name" class="form-control"></td>
    </tr>
    <tr>
      <td>Tên lớp:</td>
      <td><input type="text" formControlName="room_number" class="form-control"></td>
    </tr>
    <tr>
      <td>Số học sinh:</td>
      <td><input type="text" formControlName="total_student" class="form-control"></td>
    </tr>
    <tr>
      <td>Giáo viên chủ nhiệm:</td>
      <td><input type="text" formControlName="main_teacher" class="form-control"></td>
    </tr>
  </table>
</div>
<br>
<div class="btttn">
  <button (click)="saveClass()" class="btn btn-sm btn-success">Lưu</button>&nbsp;&nbsp;
  <button (click)="canelClass()" class="btn btn-sm btn-success">Làm mới</button>
</div>
<br>
</div>